@font-face {
    font-family: 'Gilroy'; 
    src: url('./Gilroy.otf') format('opentype'); 
}

@font-face {
    font-family: 'Biotif'; 
    src: url('./biotif/Biotif-Regular.ttf') format('opentype');
}

body {
   
    background: #111111;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1d1d1d;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family: "Biotif";
    
}

nav a:hover {
 
    text-decoration: none;
    margin: 0 15px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
   font-family: 'Gilroy';
   
}



#contato:visited {
    color: rgb(201, 29, 29);
    text-decoration: underline;
    margin: 0 15px;
}
#meiosDeContato {
    text-align: center;
    margin-top: 20px; 
    justify-content: space-between;
}

details {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    font-family: "Biotif";
}

details summary {
    cursor: pointer;
    font-weight: bold;
    font-family: "Biotif";
}

a {
    color: #007BFF;
    text-decoration: none;
    font-family: "Biotif";
}


a:hover {
    text-decoration: underline;
}
