
@font-face {
    font-family: 'Biotif'; /* O nome da sua fonte */
    src: url('./biotif/Biotif-Regular.ttf') format('opentype'); /* O caminho para sua fonte e seu formato */
    /* Você também pode adicionar outros formatos de fonte para compatibilidade cruzada, como woff, woff2, etc. */
}

@font-face {
    font-family: 'Gilroy'; /* O nome da sua fonte */
    src: url('./Gilroy.otf') format('opentype'); /* O caminho para sua fonte e seu formato */
    /* Você também pode adicionar outros formatos de fonte para compatibilidade cruzada, como woff, woff2, etc. */
}

body {
    
    background: linear-gradient(to bottom, #2e2e2e, #000);  
    margin: 0;
    padding: 0;
    font: weight 10px;
}

header {
    background-color: #1d1d1d;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family:  Helvetica;
     font-family: 'Biotif';
     background-color: #1d1d1d;
    
}

a{
    font-family: 'Biotif';
    color: #ADD8E6;
}

nav a:hover {
    
   text-decoration: none;
    margin: 0 15px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: 'Gilroy';
    font-weight:bolder ;
   
}

    p {
        color:white;
        font-family: 'Biotif';
        margin: 30px;
        text-indent: 50px;
    }


#projetos:visited {
    color: rgb(201, 29, 29);
    text-decoration: underline;
    margin: 0 15px;
  
}

video {
    margin-block: 20px ;
}

.nomeDoProjeto{
    margin-top: 30px;
}